{% extends '@EmsePlateform/layout.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<div class='row'>
    <h1 class='text-light text-center bg-info col-12'>Annonce n° {{ advert.id }}</h1>

    {% if advert.image is not null %}
        <img class='col-3' src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">
    {% endif %}
    <h2 class='col9'>{{ advert.title }}</h2>

    <p class='col-12'>{{ advert.content }}</p>
    <p class='col-6'>{{ advert.author }}</p>
    <p class='col-6'>{{ advert.date|date("m/d/Y") }}</p>

</div>
    {% for response in listApplications %}
    <div class='row'>

        <h2 class='text-light text-center bg-secondary col-12'>reponse n° {{ response.id }}</h2>
        <h3 class='col9'>{{ response.author }}</h3>
        <p class='col-10'>{{ response.content }}</p>
        <p class='col-2'>{{ response.date|date("m/d/Y") }}</p>

    </div>
        {% endfor %}
{% endblock %}